{% extends 'events/main.html' %}
{% load static %}
{% block content %}
    <style>
            .profile-pic{
            max-width: 200px;
            max-height:200px;
            margin: 0 auto;
            border-radius: 50%;
            }
    </style>
<br>
    <div class="row">
    <div class="col-md-3">
    <div class="card card-body">
    <a class="btn btn-warning" href="{% url 'homePage' %}">Back to Profile</a>
<hr>
<h3 style="text-align: center">Account Settings</h3>
<hr>
<img class="profile-pic" src="{{ user_event.profile_pic.url }}" alt="Profile Picture">
</div>
</div>
        <div class="col-md-9">
        <div class="card card-body">
                <form method="post" action="" enctype="multipart/form-data">
                        <div class="col-md-8">
                                <div class="card mb-3">
                                  <div class="card-body">
          
                                    <div class="row">
                                      <div class="col-sm-3">
                                        <h6 class="mb-0" id="firstName"> Name:</h6>{{user_event.name}}                          
                                        <div class="col-sm-9 text-secondary" id="firstNameValue"></div>
                                      </div>
                                    
                                    </div>
                                    <div class="row">
                                      <div class="col-sm-3">
                                        <h6 class="mb-0" id="lastName"></h6>                            
                                        <div class="col-sm-9 text-secondary" id="lastNameValue"></div>
                                      </div>
                                    </div>
          
          
                                    <hr>
                                    <div class="row">
                                      <div class="col-sm-6 ">
                                        <h6 class="mb-0 " id="email" >Email:</h6>{{user_event.email}}
                                        <div class="col-sm-9 text-secondary " id="emailValue"></div>
                                      </div>
                                      <div class="col-sm-9 text-secondary">
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                      <div class="col-sm-3">
                                        <h6 class="mb-0" id="phone">Phone:</h6>{{user_event.phone}}
                                        <div class="col-sm-9 text-secondary" id="phoneValue"></div>
                                      </div>
                                      <div class="col-sm-9 text-secondary">
                                       
                                      </div>
                                    </div>
                                   
                                    
                                       
                                      </div>
                                    </div>
             
                {% csrf_token %}
                {{form.profile_pic}}<br><br>
                

                
                     
                <!-- <button type="submit">Upload</button> -->
                <input class="btn btn-primary" type="submit" name="Update">
                </form>
         
</div>
</div>
<br>
<div class="col-md">
        <div class="card card-body">
            <h5>Total Events</h5>
            <hr>
            <h1 style="text-align: center; padding: 10px">{{regevents_count}}</h1>
        </div>
    </div>

</div>
{% endblock %}