{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Free Guy 2021</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static '/css/events_style.css' %}">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="#top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>
      <h1>SFC Hub</h1>
      <div class="header-actions">

        <button class="search-btn">
          <ion-icon name="search-outline"></ion-icon>
        </button> 

       

       <a href="login.html"> <button class="btn btn-primary">Sign in</button> </a>

      </div>

      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="reorder-two"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="{% url 'homePage' %}" class="logo">
            <h1>SFC Hub</h1>
          </a>

          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="{% url 'homePage' %}" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="{% url 'eventsPage' %}" class="navbar-link">Events</a>
          </li>

          <li>
            <a href="{% url 'clubPage' %}" class="navbar-link">Clubs</a>
          </li>

          

          <li>
            <a href="{% url 'user' user.id %}" class="navbar-link">Account</a>
          </li>

        </ul>

        <ul class="navbar-social-list">

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </nav>

    </div>
  </header>



  <main>
    <article>

      <!-- 
        - #MOVIE DETAIL
      -->
      
      <section class="movie-detail">
        <div class="container">
          {% if event %}
          <figure class="movie-detail-banner">
            
            <img src="{{ event.poster.url }}" alt="{{ event.name }}">

            
            
          </figure>

          <div class="movie-detail-content">

            <p class="detail-subtitle">Event Details</p>

            <h1 class="h1 detail-title">
              {{ event.name }}
            </h1>

            <div class="meta-wrapper">

              

              <div class="ganre-wrapper">
                <a href="#">{% for tag in event.tags.all %}
                  {{ tag.name }}
                  {% endfor %}</a>
              </div>

              <div class="date-time">

                <div>
                  <ion-icon name="calendar-outline"></ion-icon>

                  <time datetime="2021">{{ event.date_event }}</time>
                </div>

                <div>
                  <ion-icon name="time-outline"></ion-icon>

                  <time datetime="PT115M">{{ event.time }}</time>
                </div>

              </div>

            </div>

            <p class="storyline">{{ event.description }}</p>
            </div>
            {% else %}
            <p>No event selected.</p>
            {% endif %}
           <a href="{% url 'regEvent' %}"><button class="btn btn-primary" id="another-page-btn">Register Now!</button></a> 
           <a href="{% url 'submit_feedback' event.id %}"><button class="btn btn-primary" id="another-page-btn">Submit Feedback</button></a>
              
            </button>

            </a>

          </div>

        </div>
      </section>





      <!-- 
        - #TV SERIES
      -->

      


  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand-wrapper">

          <a href="./index.html" class="logo">
            <h1>SFC Hub</h1>
          </a>

          <ul class="footer-list">

            <li>
              <a href="./index.html" class="footer-link">Home</a>
            </li>

            <li>
              <a href="#" class="footer-link">Events</a>
            </li>

            <li>
              <a href="#" class="footer-link">Clubs</a>
            </li>


            <li>
              <a href="#" class="footer-link">Accounts</a>
            </li>

          </ul>

        </div>

        <div class="divider"></div>

        <div class="quicklink-wrapper">

          <ul class="quicklink-list">

            <li>
              <a href="#" class="quicklink-link">Faq</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Help center</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Terms of use</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Privacy</a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2022 <a href="#">francishub</a>. All Rights Reserved
        </p>

       
      </div>
    </div>

  </footer>




  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
{% endblock %}