        body {
            background-color: #d6d6d6;
        }
    
        #total-orders {
            background-color:  #d45d5d;
        }
    
        #orders-delivered {
            background-color:rgb(107, 169, 147);
        }
    
        #orders-pending {
            background-color: #403a95;
        }